body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image-case-1 {
  background-image: url("assets/img/pic1.jpg");
}
.image-case-2 {
  background-image: url("assets/img/pic2.jpg");
}
.image-case-3 {
  background-image: url("assets/img/pic3.png");
}
.image-case-4 {
  background-image: url("assets/img/pic4.jpg");
}

#businessCard .row div {
  background-color: darkorange;
  padding-left:2rem;
  text-align: left;
}

ul{
    padding-inline-start: 0px;
}
.call-to-action{
    color: orange;
    text-shadow: #1b1e21 2px 3px 1px;
    background:url("./assets/img/pic3.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4e555b;
}

@media (min-width: 768px){
    header.masthead {
        padding-top: 19rem;
        padding-bottom: 3rem;
    }
}