body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-case-1 {
    background-image: url("assets/img/pic1.jpg");
}

.image-case-2 {
    background-image: url("assets/img/pic2.jpg");
}

.image-case-3 {
    background-image: url("assets/img/pic3.png");
}

.image-case-4 {
    background-image: url("assets/img/pic4.jpg");
}

#businessCard .row div {
    background-color: darkorange;
    text-align: left;
    padding-top: 1.5rem;
}

#businessCard .row p {
    font-size: 1.2rem;
}

#businessCard h1 {
    font-size: 1.6rem;

}
ul {
    padding-inline-start: 0px;
}

#offer ul li {
    font-size: 1.25rem;
}
#offer h2 {
    font-size: 1.75rem;
}

#navigation {
    opacity: 0.9;
    padding: 1rem;
}

#contact label {
    font-size: 1rem;
    padding-bottom: 0.25rem;
}

#contact .form-control {
    height: inherit;
}

#contact h1 {
    font-size: 1.85rem;
}
.call-to-action {

    background-size: cover;
    background: #4e555b url("./assets/img/pic3.png") no-repeat left top;
}

.call-to-action p {
    text-shadow: azure 0px 0px 10px;
    font-size: 2rem;
    font-family: Impact,"Arial Black", monospace;
    color: #fd7e14;
}

.call-to-action h1 {
    font-size: 1.75rem;
}

/* animation on icons in IconsGrid component */
.hover-zoom {
    transition: transform .2s; /* Animation */
}

.hover-zoom:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.icon-spacing {
    margin-bottom: 2em;
}

.circle i {
    display: none;
}
@media (min-width: 350px) {
    #businessCard .row div {
        padding-left: 3rem;
    }
}

@media (min-width: 768px) {

    header.masthead h1 {
        font-size: 2rem;
        text-align: left;
        padding-top: 1rem;
    }

    /* animation on header button sliding to next section after click */
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;

    }

    .circle {
        margin-top: 2rem;
        background: orange;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #0000001a;
    }

    .circle i {
        display: block;
        font-size: 3rem;
        padding-left: 0.25rem;
    }

    .pulse {
        animation: pulse-animation 2s infinite;
    }

    #contact label {
        font-size: 1rem;
    }

    .call-to-action p {
        font-size: 3.5rem;
    }

    .call-to-action h1 {
        font-size: 2.5rem;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.circle:hover, .nav-item:hover, .navbar-brand:hover {
    cursor: pointer;
    text-shadow: darkorange 0 0 10px;
    color: orange;
}


